@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Russo+One&display=swap');
@import "tailwindcss";

#root {
  font-family: var(--font-family-secondary);
}

@theme {
  --font-family-primary: 'Russo One', sans-serif;
  --font-family-secondary: 'Outfit', sans-serif;

  --max-width-site: 2000px;

  --color-bg-primary: #345580;
  --color-bg-secondary: #aae54f;
  --color-white: #ffffff;
  --color-tertiary: #dddddd;

  --color-black: #212121;
  
  --color-ft-primary: #111111;

}
